.history-group{
    padding:10px;
    margin:40px 45px;
    background-color: #20262d;
    /* color:#bcbcbc; */
    box-shadow: 0px -2px 2px 0px rgb(29 35 41);
    border-radius:5px;
}

.history-group:first-of-type{
    margin-top:30px;
}

.history-group h3{
    text-align: left;
}

.history-title{
    text-align:left;
    padding-left: 48px;
    margin-top: 65px;
}

.history-row, .history-row-labels{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top:none;
    padding:10px 0;
    height:25px;
}

.history-row:not(:first-of-type){
    border-top:1px solid #ccc;
}

.history-row > div, .history-row-labels div{
    text-align: left;
    padding:0 10px;
}

.history-duration{
    width: 100px;
}
.history-time{
    width: 200px;
}

.history-task{
    width:42vw;
}

.history-project{
    width:21.5vw;
}

.history-tags{
    width:15%;
}

.history-row-labels{
    font-weight:bold
}

.history-tag-item {
    margin: 0 2px;
    border-radius:5px;
    background-color: #fff;
    color:#0A1619;
    cursor: pointer;
    display:inline-block;
    padding:3px 5px;
}